<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        /* Temporary centering, your static CSS can override this 
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            flex-direction: column;
        } */
        form {
            text-align: center;
        } 

       
    </style>
</head>
<body>
     <nav class="topnav">
        <div class="nav-container">
            <div class="logo">
                <h2>Python Pantry</h2>
            </div>
            <div class="search-bar">
                <form id="search-form">
                    <input type="text" id="ingredient-input" placeholder="Enter Ingredients (comma seperated)">
                    <button type="submit">Search</button>
                </form>
            </div>

            <div class="nav-links">
                <a href="{{ url_for('index') }}#home-section" class="nav-link">Home</a>
                <a href="{{ url_for('index') }}#favorites-section" class="nav-link">Favorites</a>
                <a href="{{ url_for('userlogin') }}" class="btn" data-section="Login">Login</a>
                
            </div>
        </div>
    </nav>

    <div class="login-container">

    <h2>Login</h2>

    <form action="{{ url_for('userlogin') }}" method="POST">
        <input type="text" name="Email" placeholder="Email" required><br><br>
        <input type="password" name="password" placeholder="Password" required><br><br>
        <button type="submit">Login</button>
    </form>

    <br>
    <a href="{{ url_for('google_login') }}">Login with Google</a>
    <br><br>
    <a href="{{ url_for('register') }}">Don’t have an account? Register here</a>

    </div>

</body>
</html>
